## OpenWrt Configurations
# Target System & Profiles
CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq60xx=y
CONFIG_TARGET_qualcommax_ipq60xx_DEVICE_zn_m2=y

## Target Images
CONFIG_TARGET_ROOTFS_INITRAMFS=n

## Advanced Configuration Options
CONFIG_CCACHE=y
CONFIG_DEVEL=n
#CONFIG_TARGET_OPTIONS=y
#CONFIG_TARGET_OPTIMIZATION="-O3 -pipe -march=armv8-a+crypto+crc -mcpu=cortex-a53+crypto+crc -mtune=cortex-a53 -flto"

## Base Systems
CONFIG_PACKAGE_ca-certificates=y
CONFIG_PACKAGE_sqm-scripts-nss=y

## Administrations
CONFIG_PACKAGE_htop=y

## Firmware
CONFIG_PACKAGE_ipq-wifi-zn_m2=n
CONFIG_PACKAGE_ath11k-firmware-ipq6018=n
CONFIG_NSS_FIRMWARE_VERSION_12_5=y

## Kernel Modules
# Netfilter Extensions
CONFIG_PACKAGE_kmod-nft-arp=y
CONFIG_PACKAGE_kmod-nft-bridge=y
CONFIG_PACKAGE_kmod-nft-connlimit=y
CONFIG_PACKAGE_kmod-nft-dup-inet=y
CONFIG_PACKAGE_kmod-nft-netdev=y
CONFIG_PACKAGE_kmod-nft-queue=y
CONFIG_PACKAGE_kmod-nft-socket=y
CONFIG_PACKAGE_kmod-nft-tproxy=y
CONFIG_PACKAGE_kmod-nft-xfrm=y

# Network Devices
CONFIG_PACKAGE_kmod-qca-nss-drv-wifi-meshmgr=n

# Network Support
CONFIG_PACKAGE_kmod-tls=y

# USB Support
CONFIG_PACKAGE_kmod-usb-dwc3=n
CONFIG_PACKAGE_kmod-usb-dwc3-qcom=n
CONFIG_PACKAGE_kmod-usb3=n

# Wireless Drivers
CONFIG_PACKAGE_kmod-ath11k=n
CONFIG_PACKAGE_kmod-ath11k-ahb=n
CONFIG_PACKAGE_kmod-ath11k-pci=n
CONFIG_NSS_DRV_WIFIOFFLOAD_ENABLE=n
CONFIG_NSS_DRV_WIFI_MESH_ENABLE=n

## Luci
CONFIG_PACKAGE_default-settings=y
CONFIG_PACKAGE_default-settings-chn=y

# Applications
CONFIG_PACKAGE_luci-app-argon-config=y
CONFIG_PACKAGE_luci-app-attendedsysupgrade=n
CONFIG_PACKAGE_luci-app-autoreboot=y
CONFIG_PACKAGE_luci-app-cpufreq=y
CONFIG_PACKAGE_luci-app-ddns=y
CONFIG_PACKAGE_luci-app-eqos=y
CONFIG_PACKAGE_luci-app-homeproxy=y
CONFIG_PACKAGE_luci-app-passwall=y
CONFIG_PACKAGE_luci-app-rclone_INCLUDE_rclone-webui=n
CONFIG_PACKAGE_luci-app-rclone_INCLUDE_rclone-ng=n
CONFIG_PACKAGE_luci-app-sqm=y
CONFIG_PACKAGE_luci-app-uhttpd=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-wol=y
CONFIG_PACKAGE_luci-app-zerotier=y

# Themes
CONFIG_PACKAGE_luci-theme-argon=y

# Protocols
CONFIG_PACKAGE_luci-proto-relay=y

# Libraries
CONFIG_PACKAGE_luci-lib-ipkg=y

## Network
# WirelessAPD
CONFIG_PACKAGE_wpad-openssl=n
CONFIG_PACKAGE_hostapd-common=n

## Utilities
CONFIG_PACKAGE_coremark=y

## Qualcomm IPQ Options
CONFIG_IPQ_MEM_PROFILE_512=y
