## Target Devices
CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq60xx=y
CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_zn_m2=y

## Global Build Settings

## Base Systems
CONFIG_PACKAGE_ca-certificates=y
CONFIG_PACKAGE_wifi-scripts=n

## Administration
CONFIG_PACKAGE_htop=y

## Firmware
CONFIG_MODULE_DEFAULT_ipq-wifi-zn_m2=n
CONFIG_PACKAGE_ath11k-firmware-ipq6018=n
CONFIG_NSS_FIRMWARE_VERSION_12_5=y
CONFIG_PACKAGE_wireless-regdb=n

## Kernel Modules
CONFIG_PACKAGE_kmod-crypto-blake2b=y
CONFIG_PACKAGE_kmod-crypto-chacha20poly1305=y
CONFIG_PACKAGE_kmod-nls-cp936=y
CONFIG_PACKAGE_kmod-ipsec=y
CONFIG_PACKAGE_kmod-ipsec4=y
CONFIG_PACKAGE_kmod-ipsec6=y
CONFIG_PACKAGE_kmod-usb-core=n
CONFIG_PACKAGE_kmod-usb-dwc3=n
CONFIG_PACKAGE_kmod-usb-dwc3-qcom=n
CONFIG_PACKAGE_kmod-usb3=n
CONFIG_PACKAGE_kmod-usb-storage=n
CONFIG_PACKAGE_kmod-usb-storage-extras=n
CONFIG_PACKAGE_kmod-usb-storage-uas=n
CONFIG_PACKAGE_kmod-ath=n
CONFIG_ATH_USER_REGD=n
CONFIG_PACKAGE_ATH_DFS=n
CONFIG_PACKAGE_kmod-ath11k=n
CONFIG_ATH11K_THERMAL=n
CONFIG_ATH11K_DEBUGFS_STA=n
CONFIG_ATH11K_DEBUGFS_HTT_STATS=n
CONFIG_ATH11K_NSS_SUPPORT=n
CONFIG_PACKAGE_kmod-cfg80211=n
CONFIG_PACKAGE_kmod-mac80211=n

## Languages

## Luci
CONFIG_PACKAGE_default-settings=y
CONFIG_PACKAGE_default-settings-chn=y
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-app-argon-config=y
CONFIG_PACKAGE_luci-app-autoreboot=y
CONFIG_PACKAGE_luci-app-cpufreq=y
CONFIG_PACKAGE_luci-app-eqos=y
CONFIG_PACKAGE_luci-app-homeproxy=y
CONFIG_PACKAGE_luci-app-netdata=y
CONFIG_PACKAGE_luci-app-passwall=y
CONFIG_PACKAGE_luci-app-rclone=y
CONFIG_PACKAGE_luci-app-rclone_INCLUDE_rclone-webui=n
CONFIG_PACKAGE_luci-app-rclone_INCLUDE_rclone-ng=n
CONFIG_PACKAGE_luci-app-ssr-plus=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-wol=y
CONFIG_PACKAGE_luci-app-zerotier=y

## Network
CONFIG_PACKAGE_zerotier=y
CONFIG_PACKAGE_hostapd-common=n
CONFIG_WPA_MBO_SUPPORT=n
CONFIG_PACKAGE_wpad-openssl=n
CONFIG_ATH11K_MEM_PROFILE_512M=y
CONFIG_PACKAGE_kmod-ath11k-ahb=n
CONFIG_PACKAGE_kmod-ath11k-pci=n

## Utilities
CONFIG_PACKAGE_zoneinfo-asia=y
CONFIG_PACKAGE_zoneinfo-core=y

## IPQ Options
CONFIG_IPQ_MEM_PROFILE_512=y
